h1{
    text-align: center;
}

.mininavbar{
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media screen and (max-width:500px) {

    .navbar{
        flex-direction: column;
        gap: 20px;
        height: 100vh;
    }

    .mininavbar{
        flex-direction: column;
        gap: 20px;
    }
    
}